body{
}
[id^="placeHolder"]{
    height: 60px;
    width:280px;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    position: relative;
    font-size: 30px;
    text-align: center;
}
#readyButton{
    height:60px;
    width: 280px;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    position:relative;
    font-size: 30px;
}

#ready{
    height: 60px;
    width:280px;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    position: relative;
}
#taskDirection{
    height:46px;
    width:380px;
    font-size: 30px;
    top:0;
    bottom: 10px;
    left:0;
    right:0;
    margin: auto;
    position: relative;
    text-align: center;
}
#video{
    top:0;
    bottom: 10px;
    left: 0;
    right:0;
    margin: auto;
    position: relative;
    text-align: center;
}
#container{
    width: 500px;
    height: 126px;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
